
@{
    Layout = null;
}
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12">
        @Html.DisplayForModel()
    </div>
    <div class="block-area text-center">
        <a class="btn btn-sm btn-primary no-border" href="javascript:history.go(-1)"> <i class="fa  fa-chevron-left"></i> Back </a>
    </div>
</div>