@model System.Collections.IEnumerable

@{
    string primaryKey = Model.GetElementType().IdentifierPropertyName();
}
<div class="modal-dialog">
    <div class="input-group m-b">
        <input type="text" id="SearchName" name="SearchName" class="form-control" style="width:300px;" placeholder="">
        <button type="button" class="btn btn-primary" onclick="SearchName()">搜索</button>
    </div>
    <table cellpadding="0" align="center" class="listshow" border="0" cellspacing="0">
        <tbody>
            <tr>
                <td class="black" align="center">
                    <select multiple="multiple" style="width:350px;height:410px;">
                        @foreach (var item in Model)
                        {
                            ViewData["item"] = item;
                            <option>@Html.Display("item." + primaryKey)</option>
                        }
                    </select>
                </td>
                <td width="2%" align="center">
                    <input type="button" class="btn btn-info" id="add" value="添加>>">
                    <input type="button" class="btn btn-white" id="delete" value="<<删除">
                </td>
                <td class="black" align="center">
                    <select id="select_list" multiple="multiple" style="width:350px;height:410px;"></select>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-white" data-dismiss="modal" id="close" onclick="Close()">关闭</button>
    <button type="submit" class="btn btn-success btn-sm" onclick="Save()"><i class="fa fa-save"></i>保存</button>
</div>

<script>
    $(function () {
        console.log("@Request["_target"]")
    })
    
</script>