<div class="col-md-4 pull-right" style="text-align:right; padding-right:100px;">
    <a class="btn-default btn btn-sm search-clear" id="txtClear" href="javascript:;">@*@zh_CN.Clear*@清除</a>
    <button class="btn-warning btn btn-sm" type="submit">@*@zh_CN.Search*@检索</button>
</div>